langchain
langgraph
tavily-python
polygon
langchain_community
langchain_google_genai
streamlit
fastapi[all]
uvicorn
langchain-pinecone
pypdf
langchain_huggingface
langchain_groq
python-dotenv
sentence-transformers
docx2txt

#-e .